.index {
    background-image: url("pozadina.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.naslov {
    font-family: papyrus;
    font-size: 80px;
}

.naslovnica {
    font-family: Trattatello;
    font-size: 20px;
    color: darkslategray;
}

#oRestoranu {
    opacity: 80%;
    margin-top: 150px;
    text-align: center;
}

.hrana1 {
    margin-top: 150px;
}

.hrana1 img {
    float: right;
    border-radius: 50%;
    margin-right: 10px;
}

.hrana1 h1 {
    font-family: papyrus;
    color: lightcoral;
    text-align: center;
    margin-top: 250px;
}

.hrana1 p {
    margin-top: 50px;
    text-align: center;
}

.hrana2 span {
    margin-right: 100px;
    color: lightcoral;
    font-family: papyrus;
    font-weight: bold;
}

.hrana2 p {
    margin-top: 100px;
    text-align: center;
}

.hrana2 img {
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 100px;
    float: left;
}

.prijelaz {
    height: 85px;
    background-color: rgb(165, 36, 31);
    margin-top: 250px;
}

#galerija {
    margin-top: 50px;
    margin-bottom: 10px;
    height: 500px;
}

#galerija h1 {
    font-family: papyrus;
    text-align: center;
    font-size: 70px;
    margin-top: 30px;
}

#registracijaForma {
    margin: 150px auto;
    width: 50%;
    box-shadow: 1px 3px 25px black;
}

.register {
    background-image: url("hrana03.gif");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}

.blur {
    overflow: auto;
    position: relative;
}

.input {
    height: 50px;
    margin-bottom: 20px;
}

.inputLozinka {
    height: 50px;
}

#passwordRequirement {
    margin-bottom: 10px;
    margin-top: 0px;
}

#registracijaForma button {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
}

#registracijaForma p {
    font-family: Trattatello;
    font-size: 15px;
    color: gray;
}

#registracijaForma p a {
    color: darkslategray;
    font-weight: bold;
}

#registracija {
    color: grey;
    font-size: 16px;
}

#registracija:hover {
    text-decoration: none;
    color: black;
}

#prijava {
    color: grey;
    border: 1px solid grey;
    padding: 7px;
    margin-left: 5px;
    font-size: 16px;
    border-radius: 5px;
}

#prijava:hover {
    text-decoration: none;
    background-color: grey;
    color: white;
}

.footer {
    background-color: darkslategray;
    color:white;
    text-align: center;
    margin-top: 300px;
    height: 150px;
    width: 100%;
}

#rezervacija {
    display: inline;
}

.naruci {
    background: rgba(211, 211, 211, 0.1);
}

.jelovnik {
    text-align: center;
}

.jelovnik h1 {
    font-family: papyrus;
    font-size: 45px;
    margin-top: 100px;
    display: inline-block;
    margin-bottom: 20px;
}

.jelovnik img {
    display: inline-block;
    margin-right: 10px;
}

.kategorija {
    display: inline;
    border: 2px solid lightcoral;
    padding: 15px;
    font-family: Trattatello;
    font-size: 20px;
    color: darkslategray;
    margin-left: 5px;
}

.kategorija:hover {
    background-color: gray;
    color: black;
    text-decoration: none;
    border: 2px solid gray;
    cursor: pointer;
}

.toggler {
    margin: auto;
}

.jelo {
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.jelo h1 {
    font-family: papyrus;
    font-size: 45px;
    margin-top: 100px;
    display: inline-block;
    margin-bottom: 20px;
    color: black;
}

.jelo img {
    display: inline-block;
}

.pozadina {
    background: rgba(128, 128, 128, 0.4);
    height: 100%;
}

.card {
    margin-top: 20px;
}

#Doručak {
    background-image: url("dorucak2.webp");
}

#Tjestenina {
    background-image: url("tjestenina2.png");
}

#Starter {
    background-image: url("starter2.jpg");
}

#Burgeri {
    background-image: url("burgeri2.jpg");
}

#Specijal {
    background-image: url("specijal2.jpg");
}

#Tortilje {
    background-image: url("tortilje2.jpg");
}

#Pizza {
    background-image: url("pizza2.jpg");
}

#Kolači {
    background-image: url("kolaci2.jpg");
}

#Palačinke {
    background-image: url("palacinke2.png");
}

#Waffle {
    background-image: url("waffle2.jpg");
}

.rezervacije {
    text-align: center;
    margin-top: 65px;
}

.rezervacije h1 {
    font-family: papyrus;
    padding-top: 40px;
    font-size: 50px;
    background-color: rgba(211, 211, 211, 0.4);
    box-shadow: 1px 3px 10px black;
    height: 140px;
}

.pregled table {
    margin: 50px auto;
    width: 50%;
}

.pregled table th {
    text-align: center;
}